header {
    background-color: $headercolor;
    background-image: linear-gradient( black, rgb(78, 78, 78));
    opacity: 90%;
    height: 150px;
    padding: 10px 0px;
    margin-top: 5px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    @media (max-width: 768px){
        flex-direction: column-reverse;
        align-items: center;
        height: 230px;

            .header_empire{
                text-align: center;
                font-size: 14px;
                justify-self: center;
                margin-right: 200px;
                width: 100%;
            }
        
    }

    @media (max-width: 375px){
        flex-direction: column-reverse;
        align-items: center;
        height: 260px;
        
            .header_empire{
                text-align: center;
                font-size: 10px;
                justify-self: center;
                margin-right: 200px;
                width: 80%;
            }

    
    }
    
        nav{
             padding: 10px 0px;
           
                ul{
                    list-style: none;
                    font-size: 0;
                }

                ul li{
                    background-color: rgb(78, 78, 78);
                    margin: 5px 20px;
                    border-radius: 1000px 10px 1000px 10px;
                    padding: 0px;
                }

                li{
                    display: inline-block;
                    position: relative;
                    background-color: rgb(78, 78, 78);
                    
                    text-align: center;
                }

                ul ul{
                    position: absolute;
                    display: none;
                }

                ul ul li{
                    display: block;
                }

                ul li:hover ul{
                    display: block;
                }

                li a{
                    text-decoration: none;
                    color: black;
                    font-size: 15pt;
                    font-family: roboto;
                    padding: 10px;
                    margin: 20px 20px;
                    font-weight: bold;
                    
                }
     
        }
    
        .header_empire{
            margin-left: 200px;
        }
    
    
}


